.chat-header,
.chat-composer,
.messages {
}

.messages {
	direction: vertical;
	padding: 16;
	overflow-y: scroll;
	width: 100%;
}

.chat-header {
	padding: 0 8;
}

.chat-header .back,
.chat-header .title,
.chat-header .action {
	color: var(--muted-foreground);
}

.chat-composer .input {
	padding: 8;
}

.messages .bubble {
	color: var(--accent-foreground);
	padding: 8;
}

.messages .spaced {
	margin-top: 8;
}

.messages .tight {
	margin-top: 4;
}

.messages .incoming {
	background-color: var(--message-incoming);
	margin-right: 32;
}

.messages .outgoing {
	background-color: var(--message-outgoing);
	margin-left: 32;
}
