.legacy-auth .header {
	background-color: var(--foreground);
	color: var(--warning);
	padding: 8;
	font-size: 12;
	line-height: 16;
}

.legacy-auth-form {
	padding: 0 24;
}

.legacy-auth-form .title {
}

.legacy-auth-form .description,
.legacy-auth-form .label,
.legacy-auth-form .small-link {
}

.legacy-auth-form .input {
	padding: 8;
}

.legacy-auth-form .primary {
	padding: 10;
	font-size: 20;
	line-height: 28;
}

.legacy-auth-form .link,
.legacy-auth-form .small-link {
	color: var(--accent);
	background-color: transparent;
}

.legacy-auth-form .link {
	margin-top: 16;
}

.legacy-auth-form .links {
	margin-top: 8;
}
